<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login1</servlet-name>
        <servlet-class>login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disp</servlet-name>
        <servlet-class>Disp.Disp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertdb1</servlet-name>
        <servlet-class>insertdb1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertdb12</servlet-name>
        <servlet-class>insertdb12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disp1</servlet-name>
        <servlet-class>Disp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newdb1</servlet-name>
        <servlet-class>Newdb1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display1</servlet-name>
        <servlet-class>display1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displaydata</servlet-name>
        <servlet-class>displaydata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login1</servlet-name>
        <url-pattern>/login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disp</servlet-name>
        <url-pattern>/Disp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertdb1</servlet-name>
        <url-pattern>/insertdb1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertdb12</servlet-name>
        <url-pattern>/insertdb12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disp1</servlet-name>
        <url-pattern>/Disp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newdb1</servlet-name>
        <url-pattern>/Newdb1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display1</servlet-name>
        <url-pattern>/display1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaydata</servlet-name>
        <url-pattern>/displaydata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
